
.a{

  color: rgb(235, 105, 30);
  background-color: #333333;
}

.b{

    color: rgb(235, 105, 30);
    background-color: #333333;
  }
.a{

  color: rgb(235, 105, 30);
  background-color: #333333;
}

.b{

    color: rgb(235, 105, 30);
    background-color: #333333;
  }


  .c{

    color: rgb(235, 105, 30);
    background-color: #333333;
  }


  .c{

    color: rgb(235, 105, 30);
    background-color: #333333;
  }
